<div class="trip__card">
<div class="trip__info column column--1">
    <div class="btn__back" routerLink="/trips" routerLinkActive="active"><i class="fa-solid fa-arrow-left"></i>Back</div>
    <figure class="trip__image__container" routerLink="/trips/{{trip.id}}" routerLinkActive="active">
        <img [src]=trip.imgLink[currSlide] alt="" class="trip__image">
        <div class="arrow arrow--left" (click)="prevSlide()"><i class="fa-solid fa-angle-left"></i></div>
        <div class="arrow arrow--right" (click)="nextSlide()"><i class="fa-solid fa-chevron-right"></i></div>
    </figure>

   
</div>
<div class="column column--2">
    <p>Name: {{trip.name | uppercase }}</p>
    <p>Country: {{trip.destCountry | uppercase }}</p>
    <p>Date of start: {{trip.startDate | date}}</p>
    <p>Date of end: {{trip.endDate | date}}</p>
    <div class="trip__raiting__container">
        <p>Rating:</p>
        <div class="trip__raiting">
            <app-trip-raiting [reviews]=trip.reviews [tripId]="trip.id" [showTotal]="true"></app-trip-raiting>
        </div>
    </div>
    <hr class="line">
    <p class="price">{{trip.price | currency }}</p>
    <div class="trip__reservation" *ngIf="trip.availableTrips > 0">
        <div class="reservation__holder noselect"><div class="reservation__button reservation__button--subtract" [ngClass]="{'hidden': trip.amount <= 0 }" (click)="subtractTrip()" (click)="addToCart()">-</div></div>
        <div class="reservation__number noselect" [ngClass]="{'lowTripsLeft': tripsLeft() <= 3}">{{trip.amount}}</div>
        <div class="reservation__holder noselect"><div class="reservation__button reservation__button--add" [ngClass]="{'hidden': trip.amount >= trip.availableTrips }" (click)="addTrip()" (click)="addToCart()">+</div></div>
    </div>
    <div class="trip__reservation" *ngIf="trip.availableTrips == 0">
        <div class="reservation__number noselect nostock">Trip out of stock</div>
    </div>
</div>
</div>

<div class="trip__description">
<h1>Description</h1>

<p class="trip__desc">{{trip.description}}</p>
</div>

<div class="trip__form">
    <app-trip-review [tripId]="passTripId()" [reviews]=trip.reviews></app-trip-review>
</div>


