:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1rem;
}

.header{
    font-size: 2rem;
    margin: 0;
}

.form__element{
    margin-bottom: 1rem;
}

.form__element label{
    font-weight: 500;
    font-size: 1.2rem;
}

input{
    border-radius: 5px;
    border: 1px var(--color-outline) solid;
    padding: 0.5rem;
    box-sizing: border-box;
}

.dual-input{
    width: calc(50% - 5px - 0.15rem);
}

.period{
    display: inline-block; 
    width: 10px;
    margin: 0 0.15rem;
    text-align: center;
}

.single-input{
    width: 100%;
}

.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="checkbox"]{
    border: none;
    padding: 1rem;
}