<div class="trips__sum" *ngIf="this.authService.isLoggedIn()">Trips addeed to cart: <span class="trips__sum--digit" [ngClass]="{'sumAmountRed':sumAmount <= 10, 'sumAmountGreen':sumAmount > 10}">{{sumAmount}}</span></div>
<div class="main__container">
    <div class="filter__container">
        <app-trip-filter (filteredTrips)="filterTrips($event)" [trips]="trips"></app-trip-filter>
    </div>
    <div class="trips__container">
        <app-trip *ngFor="let trip of filteredTrips" [data]=trip (sumAmountChanged)="changeSumAmount($event)"
        [ngClass]="{'minPrice': trip.price == getMinPrice(filteredTrips), 'maxPrice': trip.price == getMaxPrice(filteredTrips)}"></app-trip>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
</div>
